<iframe class="h-full w-full absolute" [src]="videoLink | safe"></iframe>
<div class="absolute h-full w-full text-white px-48 pt-40 bg-gradient-to-r from-black">
  <h1 class="text-4xl font-bold">{{title}}</h1>
  <p class="w-1/4">{{desc | description:500}}
  </p>
  <div class="mt-2 flex gap-4">
    <button class="bg-white rounded w-28 h-10 text-black font-bold hover:bg-opacity-60 transition-[1s]">
      Play</button>
    <button class="bg-gray-500 bg-opacity-70 rounded w-28 h-10 text-white">More Info</button>
  </div>
</div>